<header class="header" data-header>
  <div class="container">
    <a href="#" class="logo">
      <img src="assets/images/logo.svg" width="132" height="27" alt="shoppie home">
    </a>
    <button><h3 (click)="onTitleClick()" appHighlight>{{pageTitle}}</h3></button>
    <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">
      <ul class="navbar-list">
        <li>
          <a href="#" class="navbar-link">Home</a>
        </li>
        <li>
          <a routerLink="/productos" class="navbar-link">Tienda</a>
        </li>
        <li>
          <a routerLink="/login" class="navbar-link">Login</a>
        </li>
      </ul>
      <button  routerLink="/carrito"class="cart-btn">
        <ion-icon name="bag" aria-hidden="true"></ion-icon>
        <span class="span"></span>
        <span class="cart-item-count">{{ cartService.getCartItems().length }}</span>
      </button>
    </nav>
    <button class="nav-open-btn" aria-label="toggle menu" data-nav-toggler (click)="addToggle()">
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>
  </div>
</header>
